/* #region RESETS */
html,
body {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

button,
input,
select,
textarea {
    font: inherit;
}

img,
video {
    max-width: 100%;
    height: auto;
}

figure {
    margin-right: 0;
    margin-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    background: #fff;
    color: #000;
}

/* #endregion RESETS */

/* #region header, footer */
header {
    background-color: grey;
    margin-bottom: 1rem;
}

nav ul {
    display: flex;
    justify-content: end;
    gap: 2rem;
    margin-right: 2rem;
}

footer {
    background-color: grey;
    margin-top: 1rem;
}

small {
    display: flex;
    justify-content: center;
}

/* #endregion header, footer */

/* #region hjem */
.hjem {
    width: 35rem;
    margin: 0 auto;
}

.hjem h1,
p {
    text-align: center;
}

/* #endregion hjem */